@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --surface: black;
  --stroke-color: rgba(255, 255, 255, 0.03);
  --text-color: white;
  --text-md: 500 16px/24px Inter, sans-serif;
  --text-sm: 500 14px/24px Inter, sans-serif;
}

body {
  background-color: var(--surface);
  color: var(--text-color);
  display: flex;
  font: var(--text-sm);
  height: 100vh;
  width: 100vw;
}

main {
  background: var(--stroke-color);
  border-radius: 16px;
  display: flex;
  filter: drop-shadow(5px 5px 19px var(--surface));
  flex-direction: column;
  justify-content: space-between;
  margin: 10%;
  padding: 48px;
  width: 100%;
}

.wrapper__border-top,
.wrapper__border-bottom {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

input {
  all: unset;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  background-color: var(--surface);
  font: var(--text-md);
  text-align: center;
  max-width: 40px;
  padding: 16px 32px 16px 16px;
}

.border__input {
  position: relative;
}

.border__input::after {
  color: #666;
  content: "px";
  display: block;
  position: absolute;
  right: 16px;
  bottom: 16px;
}

textarea {
  all: unset;
  background-color: var(--stroke-color);
  border-radius: 8px;
  cursor: pointer;
  padding: 24px;
  text-align: center;
  transition: font 200ms;
}

textarea:hover {
  border: 4px solid var(--surface);
  background-color: #000;
  font: var(--text-md);
}
